extends ../layout

block content
    .main.container
            h1.over= title

            // register form
            form(method='POST' action='register')
                div.over
                    label(for='vorname') Vorname:
                    input#firstname.form-control(type='text', placeholder='firstname' name='firstname')
                div.over
                    label(for='nachname') Vorname:
                    input#lastname.form-control(type='text', placeholder='lastname' name='lastname')
                div.over
                    label(for='email') Email:
                    input#email.form-control(type='email', placeholder='name@email.com' name='email')
                div.over
                    label(for='pw') Password:
                    input#pw.form-control(type='password' name='password')
                div.over
                    label(for='pw2') Confirm Password:
                    input#pw2.form-control(type='password' name='confirmPassword')
                button.btn.btn-primary(type='submit') Beam me up!
